<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="signup.css" />
    <script defer src="index.js"></script>
  </head>
  <body>
    <div class="signup">
      <form action="/signup" method="POST" class="signup__form">
        <% if (error) { %>
        <p class="warning"><%= error %></p>
        <% } %>
        <div class="input-container">
          <div class="icon-container">
            <ion-icon name="mail" class="icon"></ion-icon>
          </div>
          <input type="username" name="username" placeholder="username" id="username" />
        </div>
          <div class="input-container">
            <div class="icon-container">
              <ion-icon name="person" class="icon"></ion-icon>
            </div>
            <input type="email" name="email" placeholder="email" id="email" />
          </div>
          <div class="input-container">
            <div class="icon-container">
              <ion-icon name="lock-closed" class="icon"></ion-icon>
            </div>
            <input type="password" name="password" placeholder="password" id="password" />
          </div>
          <input type="submit" value="signup" class="btn" />
          <a href="/" class="login">Already have an account? Log in</a>
        </form>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
