* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login__form {
  height: 38rem;
  width: 36rem;
  box-shadow: 0px 0px 4px #ced4da;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
  margin: 2rem 0;
  width: 25rem;
}

.icon {
  font-size: 2.4rem;
  color: #ced4da;
  margin: 0 1rem 1rem 0;
}

input {
  border: none;
  color: #ced4da;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 1rem;
  outline: none;
}

input::placeholder {
  font-size: 1.6rem;
}

.btn {
  display: block;
  padding: 0.75rem 0;
  width: 25rem;
  margin-top: 8rem;
  font-size: 2.2rem;
  color: #fff;
  background-color: #5c7cfa;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background-color: #364fc7;
}

.signup:link,
.signup:visited {
  color: #adb5bd;
  text-decoration: none;
  font-size: 1.2rem;
}

.signup:active,
.signup:hover {
  color: #868e96;
}

.warning {
  width: 25rem;
  color: #f03e3e;
  font-size: 1.2rem;
  padding: 0.3rem;
  text-align: center;
}
