* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #282828;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26rem;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup__form {
  background-color: #3b3b3b;
  padding: 2rem 6rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

input {
  display: block;
  padding: 0.3rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  margin: 1.5rem 0 0 0;
  width: 20.1rem;
  background-color: #1e90ff;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #1873cc;
}

.back {
  display: block;
  text-align: right;
  text-decoration: none;
  color: green;
  font-size: 1.4rem;
}
